<!doctype html>
<html lang="en">
<head>
    <title>Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<%- include('./layout/navbar') %>
<div class="row">
    <h1 class="col-5">Danh sach Sach</h1>
    <a href="/create" class="btn btn-success">Them Sach</a>
</div>
<table class="table">
    <thead class="table-success">
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Ten</th>
        <th scope="col">Gia</th>
        <th scope="col">So luong</th>
        <th scope="col">Tac gia</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody class="table-light">
    <% data.forEach((item, index) => { %>
    <tr>
        <th scope="col"><%= index + 1 %></th>
        <th scope="col"><a href="/details" style="text-decoration: none"><%= item.name %></a></th>
        <th scope="col"><%= item.price %></th>
        <th scope="col"><%= item.quantity %></th>
        <th scope="col"><%= item.author %></th>
        <th scope="col"><a class="btn btn-danger" href="/delete?name=<%= item.name %>">Xoa</a></th>
    </tr>
    <% }) %>
    </tbody>
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>